<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MergeSort</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/slide.js"></script>
  <script type="text/javascript" src="/javascripts/result.js"></script>
  <script type="text/javascript" src="/javascripts/merge.js"></script>
  <script type="text/javascript" src="/javascripts/divide_conquer.js"></script>
  <script type="text/javascript" src="/javascripts/upload.js"></script>
</head>
<body>
  <div id="navbar">
    <ul>
      <li class="step0 current_step">MergeSort</li>
      <li class="step1">上傳課表</li>
      <li class="step2">各個擊破</li>
      <li class="step3">合併串連</li>
      <li class="step4">謝謝光臨</li>
    </ul>
  </div>
  <div id="content">
    <div id="page0">
      <div class="title_block">
        <div class="title">
<!--           <p part="step_num">Step1</p>-->
          <p part="words">MergeSort</p>
        </div>
        <div class="subtitle">
          <p>排志願小幫手</p>
        </div>
      </div>
      <div class="canvas">
        <p>1 上傳課表：你需要到「我預計要選的課程」下載課表，並上傳讓我們幫你分組。</p>
        <p>2 各個擊破：我們會幫你把課程依衝堂時間分組，讓你只需要先擔心小範圍的志願序。</p>
        <p>3 合併串連：排完衝堂志願序之後，再將個區段的課程合併成一張大的志願序。</p>
        <div class="next_page">馬上開始排</div>
      </div>
    </div>
    <div id="page1">
      <div class="title_block">
        <div class="title">
          <p part="step_num">Step1</p>
          <p part="words">上傳課表</p>
        </div>
        <div class="subtitle">
          <p>下載並上傳你的課表，我們會加以整理好讓你<strong>各個擊破</strong></p>
        </div>
      </div>
      <div class="canvas">
        <p>1 到<a href="https://nol.ntu.edu.tw/nol/coursesearch/myschedule.php">我預計要選的課程</a>找到你的課表。過程中你可能會需要用台大帳號登入。</p>
        <p>2 在課表的頁面，按下 Ctrl+S (mac 上是 ⌘+S) 或選擇另存網頁 (如圖)，下載課表頁面。</p>
        <img src="/images/save_as.png" alt="download your schedule">
        <p>3 上傳你的課表，也就是下載下來的 myschedule.php.html 檔案。<br>我們會開始依照時間為你所選的課程分組。</p>
        <form method="post" enctype="multipart/form-data" action="/upload">
          <input type="file" name="courses" placeholder="按一下以選擇檔案">
          <a href="#" id="upload_btn"><div>按這裡選擇檔案</div></a>
          <input type="button" value="上傳">
        </form>
      </div>
    </div>
    <div id="page2">
      <div class="title_block">
        <div class="title">
          <p part="step_num">Step2</p>
          <p part="words">各個擊破</p>
        </div>
        <div class="subtitle">
          <p>我們已經照衝堂時間幫你分好區段了<br>你現在可以先在各區段排好志願，暫時不管沒衝堂的課</p>
        </div>
      </div>
      <div class="canvas">
      </div>
    </div>
    <div id="page3">
      <div class="title_block">
        <div class="title">
          <p part="step_num">Step3</p>
          <p part="words">合併串連</p>
        </div>
        <div class="subtitle">
          <p>將各個區段的課程合併成志願表<br>現在，你每次只需要考慮各區段第一個選項間的相對志願序</p>
        </div>
      </div>
      <div class="canvas">
        <p>o 點擊或拖曳課程來加入志願序</p>
        <div id="sink"><p>點擊或拖曳來加入課程</p></div>
        <div class="next_page">排好了</div>
      </div>
    </div>
    <div id="page4">
      <div class="title_block">
        <div class="title">
          <!-- <p part="step_num"></p> -->
          <p part="words">謝謝光臨</p>
        </div>
        <div class="subtitle">
          <p>以下就是建議的志願序<br>若有跳號則是方便選課時改順序</p>
        </div>
      </div>
      <div class="canvas">
      </div>
    </div>

  </div>

  
</body>
</html>